/* chevron for collapsed menus */
.down-chevron-open {
    background-image: url("/static/img/down-chevron25x25.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: -20px;
}

.down-chevron-close {
    background-image: url("/static/img/right-chevron25x25.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    margin-left: -20px;
}
