.top_header_bar { 
    margin: 0px;
    background-color: #f8f9fa; 
    height: 50px;
    color: #7d7d7d;
    z-index: 2;
    border-bottom: 1px solid #d8d8d8;
}

.top_header_bar ul {
    list-style:none;
    display: flex;
}

.top_header_bar li {
   padding-right: 7px;
}

.gov_b5_nav {
   background-color: #f8f8f8;
   border-top: 1px solid #e7e7e7;
   border-bottom: 1px solid #e7e7e7;
   position: relative;
   min-height: 50px;
}

.gov_top_spacer {
   margin-bottom: 20px;
}

.oldgov_b5_nav ul {
    list-style:none;
}

.oldgov_b5_nav li a {
    float: left;
    height: 50px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #777;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.oldgov_b5_nav_brand {
    font-size: 18px !important;
}

.caret-above-menu {
        position: absolute;
        float:right;
        width: 100%;
        text-align: right;
        margin-top: -33px;
        padding-right:12px;
        font-size:24px;
        z-index:10;
        color: #b3b3b3;
}

.parks_bg_banner { 
   height: 115px;
   padding-top: 0px;
   background: #3580ca url(/static/img/parks-bg-banner.gif) repeat-x center bottom;
}

.parks_bg_banner_v2 {
   height: 115px;
   padding-top: 0px;
   background-color: #003E52;
}
.ria_bg_banner {
    height: 115px;
    padding-top: 0px;
    background: #ffffff;
}

/* Park Passes Banner */

.park-passes-bg-banner {
    padding:0px;
    height:100%;
    background-color: #003e52;
}

.park-passes-bg-banner .wrapper {
    padding: 30px 48px 32px 24px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.park-passes-bg-banner .wrapper section {
    padding-right: 32px;
}

.park-passes-bg-banner .site-title {
    padding: 18px 0 10px 0;
    margin-bottom: 0px;
}

.park-passes-bg-banner .site-title h1 {
    color:#eee;
    margin:0px;
}

/* Park Passes Banner  End */
